@charset "ISO-8859-1";
.mod-prg-column
{
	font-family: "Ubuntu",sans-serif;
	margin-left: 3%;
	float: left;
	
}

.mod-prg-img
{
	width: 100%;
	overflow: hidden;
	/*height: 180px;*/
}

.iit_prg_media_type
{
	border-bottom: 10px solid #0077b3;
	margin-top:5px;
	margin-bottom: 10px;
	position: relative;
}

.str-to-upper{
	text-transform: uppercase;
	position: absolute;
	margin-top: 4px;
	padding-top: 4px;
}

.all-domains-label{
	background-color: #e2e2e2;

	cursor: pointer;

	
}
.all-domains-label .fa{
	font-size: 30px;
	color: #0077b3;
}

.domains{
	/*height: 325px;*/
	height:290px;
	overflow: hidden;
}

.prg-description{
	height: 80px;
	overflow: hidden;
}


@media(max-width:767px){
	.domains{
		height:380px;
	}
}


@media(max-width:400px){
	.domains{
		height:250px;
	}
}

